html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main,
.page-wrapper {
  flex: 1 0 auto;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.loading,
.lazyload,
.lazyloaded,
.image {
  opacity: 1;
  transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}